.timeline {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1%;
}

#mytimeline {
    grid-column-start: 1;
    grid-column-end: 25;
}

.items-panel {
    grid-column-start: 25;
    border: 1px solid #bfbfbf;
    overflow: auto;
    max-height: 100%;
}

table.items {
    color:#bfbfbf;
}

.item{
    border-bottom: 1px solid #bfbfbf;
    padding: 15px;   
}

.duration{
    text-align: right;
}

